/* フェードイン */
/* .fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

@media screen and (min-width: 796px) {

  /* pc */
  .top_accessFirstSp,
  .businessContent_contentItemSentenceSp,
  .businessContent_languageSp {
    display: none;
  }

  .businessContent_title,
  .businessContent_subTitle {
    text-align: center;
  }

  .businessContent_title {
    margin-top: 150px;
  }

  .businessContent_subTitle {
    margin-top: 5%;
  }

  .businessContent_backgroundFirst {
    background: linear-gradient(90deg, #F6F6F1 0%, #F6F6F1 65%, #FFFFFF 65%, #FFFFFF 100%);
    padding-top: 30px;
    margin-top: 10%;
    height: 195em;
    position: relative;
  }

  .businessContent_backgroundSecond {
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 35%, #F6F6F1 35%, #F6F6F1 100%);
    padding-top: 30px;
    margin-top: 10%;
    height: 140em;
    position: relative;
  }

  .businessContent_contentItemFirst {
    position: absolute;
    top: 0%;
  }

  .businessContent_contentItemSecond {
    position: absolute;
    bottom: 20%;
    width: 100%;
  }

  .businessContent_contentItemThird {
    position: absolute;
    top: -38%;
  }

  .businessContent_contentItemFourth {
    position: absolute;
    bottom: 25%;
    width: 100%;
  }

  .businessContent_contentItemSecond,
  .businessContent_contentItemThird {
    margin-top: 400px;
  }

  .businessContent_titleContainer {
    position: relative;
    height: 200px;
    margin: 7% 0 0 15%;
  }

  .businessContent_titleImageWrapper {
    width: 100px;
    position: absolute;
    top: 0%;
    left: 0%;
  }

  .businessContent_titleMark {
    width: 100%;
  }

  .businessContent_contentItemTitle {
    position: absolute;
    top: 27%;
    left: 3%;
  }

  .businessContent_contentItemSentencePc {
    margin: 0 15%;
  }

  .businessContent_languagePc {
    margin: 5% 15%;
  }

  .businessContent_imageContainer {
    position: relative;
    height: 20vh;
    margin-top: 100px;
  }

  .businessContent_mainImageWrapper {
    width: 100%;
    position: absolute;
  }

  .businessContent_mainImage {
    width: 100%;
  }

  .businessContent_subImageWrapperLeft {
    width: 27%;
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .businessContent_subImageWrapperLeftSecond {
    width: 30%;
    position: absolute;
    top: 110%;
    left: 7%;
  }

  .businessContent_subImageWrapperRightFirst {
    width: 27%;
    position: absolute;
    top: -40%;
    right: 20%;
  }

  .businessContent_subImageWrapperRightSecond {
    width: 27%;
    position: absolute;
    top: 40%;
    right: 20%;
  }

  .businessContent_subImage,
  .businessContent_subImageF {
    width: 100%;
  }

}


@media screen and (max-width: 795px) {
  /* sp */

  .businessContent_topYellowContent,
  .businessContent_topImageContainer,
  .businessContent_topMaskContainer,
  .businessContent_topYellowContentSecond,
  .businessContent_contentItemSentencePc,
  .businessContent_languagePc {
    display: none;
  }


  /* グレーの要素 */
  .spGrayContentContainer {
    position: relative;
    height: 30vw;
    margin: 10% 0;
  }

  .spGrayFirstContent {
    width: 35%;
    height: 10vw;
    background-color: #A8A7A770;
    position: absolute;
    top: 0%;
    left: 10%;
  }

  .spGraySecondContent {
    width: 30%;
    height: 10vw;
    background-color: #D9D9D945;
    position: absolute;
    top: 20%;
  }

  /* ページタイトル */
  .businessContent_title {
    text-align: center;
  }

  .businessContent_subTitle {
    text-align: center;
    margin-top: 15%;
  }

  .businessContent_titleContainer {
    position: relative;
    height: 35vw;
  }

  .businessContent_titleImageWrapper {
    position: absolute;
    width: 10%;
    top: 10%;
    left: 10%;
    margin-top: 10%;
  }

  .businessContent_titleMark {
    width: 100%;
  }

  .businessContent_contentItemTitle {
    position: absolute;
    top: 60%;
    left: 14%;
  }

  /* コンテンツ画像 */
  .businessContent_imageContainer {
    display: flex;
  }

  .businessContent_mainImageWrapper {
    width: 50%;
    overflow: hidden;
  }

  .businessContent_mainImage {
    width: 362%;
  }

  .businessContent_subImageWrapperLeft,
  .businessContent_subImageWrapperRightFirst,
  .businessContent_subImageWrapperRightSecond,
  .businessContent_subImageWrapperLeftSecond {
    width: 50%;
    overflow: hidden;
  }

  .businessContent_subImage {
    width: 100%;
  }

  .businessContent_subImageF {
    width: 185.5%;
  }

  /* コンテンツテキスト */
  .businessContent_contentItemSentenceSp,
  .businessContent_languageSp {
    margin: 10% 10% 0 10%;
  }

  /* 背景 */
  .businessContent_backgroundFirst {
    background: linear-gradient(90deg, #F6F6F1CC 0%, #F6F6F1CC 70%, #FFFFFF 70%, #FFFFFF 100%);
    margin-top: 10%;
    padding-bottom: 20%;
  }

  .businessContent_backgroundSecond {
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 30%, #F6F6F1 30%, #F6F6F1 100%);
    padding-bottom: 10%;
  }
}